<a href='/boastandroastform/'>Contribute some shizz</a>
<a href='/allroasts/'>See the roasts</a>
<a href='/allboasts/'>See the boasts</a>
<a href='/netvotes/'>List of net votes</a>
<h1>We Talking Boasts or Roasts?</h1>

<ul style='list-style:none'>
    {% for data in boastsandroasts %}
        <h1>{{ data.content }}</h1>
        {% if data.is_boast %}
            <h2>Boast</h2>
        {% else %}
            <h2>Roast</h2>
        {% endif %}
        <h3>{{ data.upvote }}</h3>
        <button><a href='/upvote/{{ data.id }}'>Upvote</a></button>
        <h3>{{ data.downvote }}</h3>
        <button><a href='/downvote/{{ data.id }}'>Downvote</a></button>
        <h3>{{ data.total_votes }}</h3>
        <button><a href='/delete/{{ data.id }}'>Delete Post</a></button>
        <h4>{{ data.post_date }}</h4>
    {% endfor %}
</ul>